!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "#{@area.name}: #{@item.name}", :property => "og:title"}/
    %meta{:content => "NESIÐ OKKAR er nýtt samráðsverkefni íbúa og bæjarins um forgangsröðun og úthlutun fjármagns til smærri nýrra framkvæmda og viðhaldsverkefna á Seltjarnarnesi í sumar. Taktu þátt :)", :property => "og:description"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "#{@item.image_url}", :property => "og:image"}/
    %meta{:content => "#{request.protocol + request.host}/items/#{@item.id}", :property => "og:url"}/
    %meta{:content => "#{@area.name}: #{@item.name}", :property => "og:site_name"}/
    %title
      = "#{@area.name}: #{@item.name}"
  %body
    %center
      %div
        %b
          = "Nesið Okkar 2018 - rafræn kosning"
      %br
      %div
        %b
          = "#{@area.name}: #{@item.name}"
      %br
      %div
        %img{:src=>@item.image_url, :width=>310}
      %br
      %div
        %b
          %a{:href=>"/"} Taktu þátt með því að smella hér

