%div#footer
  %span.votecount
    = render :partial=>"votecount"
  %span.mailto
    %a{:href => "mailto:betrireykjavik@ibuar.is"} #{t :votes_header_contact_us_label}
  %a{:href => "#", :onclick=>"jQuery.facebox({ ajax: '/votes/about_info' })"} #{t :votes_header_about_the_poll_label}
  %a{:href => "#", :onclick=>"jQuery.facebox({ ajax: '/votes/better_reykjavik_info' })"} #{t :votes_header_about_better_reykjavik_label}
  %a{:href => "#", :onclick=>"jQuery.facebox({ ajax: '/votes/better_neighborhoods_info' })"} #{t :votes_header_about_better_neighborhoods_label}
  %a{:href => "#", :onclick=>"jQuery.facebox({ ajax: '/votes/rvk_info' })"} #{t :votes_header_reykjavik_city_label}


