#header
  #corner
    %a{:href => "#", :onclick=>"jQuery.facebox({ ajax: '/votes/better_reykjavik_info' })" }
      %img{:alt => "", :src => "/assets/logo-br.png", :class => "br_logo"}/
  #blurbtext
    %p
      = succeed "." do
        #{raw t :votes_header_info_text_1}
  #logo
    %a{:href => "/votes/select_area"}
      %img{:alt => "", :src => "/assets/logo.png"}/
  #submenu
    %ul.flags
      %li
        = link_to image_tag("is.png"), params.merge(:locale=>"is")
      %li
        = link_to image_tag("gb.png"), params.merge(:locale=>"en")
      %li
        = link_to image_tag("pl.png"), params.merge(:locale=>"pl")
    %ul.links
      %li
        %a{:href => "http://lukr-01.reykjavik.is/betrireykjavik/",:target => "_new"} #{t :votes_header_finnahverfi_label}
      %li
        %a{:href => "#", :onclick=>"jQuery.facebox({ ajax: '/votes/help_info?previous_action=#{action_name}' })"} #{t :votes_header_help_label}
      %li
        %a{:href => "#", :onclick=>"jQuery.facebox({ ajax: '/votes/rules_info' })"} #{t :votes_header_rules_label}
      %li
        %a{:href => "#", :onclick=>"jQuery.facebox({ ajax: '/votes/logout_info' })"} #{t :votes_header_logout_label}
