#header
  #corner
    #submenu
      %span.flags
        = link_to image_tag("is.png"), params.merge(:locale=>"is")
        = link_to image_tag("gb.png"), params.merge(:locale=>"en")
      %ul.links
        - if action_name=="select_area"
          %li
            %a{:href => "http://lukr-01.reykjavik.is/betrireykjavik/",:target => "_new"} #{t :votes_header_finnahverfi_label}
        - if ["get_ballot"].include?(action_name)
          %li
            %a{:href => "/votes/select_area"}
              = t :choose_another_neighbourhood
          %li
            %a{:href => "#", :onclick=>"jQuery.facebox({ ajax: '/votes/lukr_map' })"} #{t :lukr_projects_on_map}
        %li
          %a{:href => "#", :onclick=>"jQuery.facebox({ ajax: '/votes/help_info?previous_action=#{action_name}' })"} #{t :votes_header_help_label}
        %li
          %a{:href => "#", :onclick=>"jQuery.facebox({ ajax: '/votes/rules_info' })"} #{t :votes_header_rules_label}
        %li
          %a{:href => "#", :onclick=>"jQuery.facebox({ ajax: '/votes/logout_info' })"} #{t :votes_header_logout_label}
    - unless action_name=="get_ballot"
      #facebook
        %ul
          %li
            .fb-like{"data-href" => "https://kjosa.betrireykjavik.is/", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "50"}
  #logo
    %a{:href => "/votes/select_area"}
      %img{:alt => "", :src => @config.test_mode ? "/assets/logo_test_mode.png" : "/assets/logo.png"}/
:javascript
  var public_key_2048 = "#{@public_key.to_s.gsub("\n", "\\n").gsub("\r", "\\r")}";

