- ideas.each_with_index do |idea,index|
  - onclick_options = "select(this,selected,curtotal,total,'#curtotal','#options','#votes');"
  %li{:id=>"option_#{idea[:id]}", :name=>idea[:name], :class=>"ballot_option", :letter=>@letter_of_alphabet[index+index_offset],:price=>idea[:price],:onclick=>onclick_options}
    %span.val
      %span.num
        = idea[:letter]
      %span.txt
        = idea[:name]
      %span.price
        = number_with_precision(idea[:price], :precision => 1)
  %span.info
    %a{:href => "#", :title=>idea[:name], :onclick=>"jQuery.facebox({ ajax: '/votes/idea_info?idea_id=#{idea[:idea_id]}&area_id=#{@area_id}' })"}
      %img.zoom{:alt => "", :src => "/assets/zoom.png"}/
