- ideas.each_with_index do |priority,index|
  - onclick_options = "select(this,selected,curtotal,total,'#curtotal','#options','#votes');"
  %li{:id=>"option_#{priority[:id]}", :name=>priority[:name], :letter=>@letter_of_alphabet[index+index_offset],:price=>priority[:price],:onclick=>onclick_options}
    %span.val
      %span.num
        = priority[:letter]
      %span.txt
        = priority[:name]
      %span.price
        = number_with_precision(priority[:price], :precision => 1)
  %span.info
    %a{:href => "#", :title=>priority[:name], :onclick=>"jQuery.facebox({ ajax: '/votes/priority_info?priority_id=#{priority[:id]}&area_id=#{@area_id}' })"}
      %img.zoom{:alt => "", :src => "/assets/zoom.png"}/
