#flash.popup
  - if flash[:notice]
    %h2
      = flash[:notice]
    %br
    %br
#content
  #welcome
    = raw t :introduction
    = link_to image_tag("/assets/01_timalina_audkenna_forsida.png", :class => "timeline", :alt=>"Tímalína")

  #authentication_options
    %br
    %br
    = raw t :choose_authentication
    = link_to image_tag("/assets/island.is.png", :class => "auth_logos", :alt=>"Island.is auðkenning"), @island_is_url
