#flash.popup
  - if flash[:notice]
    %h2.flash
      = flash[:notice]
    %br

#content_wrapper
  #content_authentication
    #welcome
      = raw t :introduction

    #timeline
      = raw t :timeline_1

    #authentication_options
      %br
      %br
      = raw t :choose_authentication
      = link_to image_tag("/assets/island.is.png", :class => "auth_logos", :alt=>"Island.is auðkenning"), @island_is_url
