#content_wrapper
  #timeline
    = raw t :timeline_3
%form{:name => 'vote'}
  #content_vote
    #content-title
      %h2.content-title
        = BudgetBallot.get_area_name(@area_id.to_i)
    #votebox
      #votes
      #votes_totals
        %span#curtotal
          =  " - - "
        %span#total_text.center
          = "#{number_with_precision(@total, :precision => 1)} #{t :millions}"
        %span#total_text.right
          = t :chooce_projects_below
    #projects_wrapper
      #leftcol
        %span.header-txt
          = t :name_of_project
        %span.header-price
          = t :price
          %span.header-price-sml
            = t :in_millions
        .list
          %ul#options_left
            = render :partial => "ideas", :locals=>{ :index_offset=>0, :ideas =>@budget_ballot_col_a}
      #rightcol
        %span.header-txt
          = t :name_of_project
        %span.header-price
          = t :price
          %span.header-price-sml
            = t :in_millions
        .list
          %ul#options_right
            = render :partial => "ideas", :locals=>{ :index_offset=>@budget_ballot_col_a.length+1, :ideas => @budget_ballot_col_b}
    #vote
      %a{:href => "#"}

      %input{:type => :hidden, :id=>"area_id", :name => "area_id", :value => @area_id }
      %input{:type => :image, :src => "/assets/vote_#{I18n.locale}.png", :id=>"submit_btn", :class=>"button", :name => "submit", :title=>"Smelltu hér til að kjósa", :alt => 'Smelltu hér til að kjósa'}

    :javascript
      setLocalisedTexts('#{I18n.locale}','#{t(:chooce_projects_below)}','#{t :you_dont_need_to_finish_all_the_budget}','#{t(:used_text)}','#{t(:left_text)}');
      setTotals(#{@total});
