- all_priorities = @budget_ballot.priorities(@neighborhood_id)
- all_priorities_length = all_priorities.length
- left_col_start = 0
- left_col_end = (all_priorities_length/2)-1
- right_col_start = (all_priorities_length/2)
- right_col_end = all_priorities_length+1

#content_wrapper
  #timeline
    = raw t :timeline_3
%form{:name => 'vote'}
  #content_vote
    #content-title
      %h2.content-title
        = @budget_ballot.get_neighborhood_name(@neighborhood_id.to_i)
    #votebox
      #votes
      #votes_totals
        %span#curtotal
          =  " - - "
        %span#total_text.center
          = "#{number_with_precision(@total, :precision => 1)} #{t :millions}"
        %span#total_text.right
          = t :chooce_projects_below
    #projects_wrapper
      #leftcol
        %span.header-txt
          = t :name_of_project
        %span.header-price
          = t :price
          %span.header-price-sml
            = t :in_millions
        .list
          %ul#options_left

            = render :partial => "priorities", :locals=>{ :index_offset=>0, :priorities => all_priorities[left_col_start..left_col_end]}
      #rightcol
        %span.header-txt
          = t :name_of_project
        %span.header-price
          = t :price
          %span.header-price-sml
            = t :in_millions
        .list
          %ul#options_right
            = render :partial => "priorities", :locals=>{ :index_offset=>right_col_start, :priorities => all_priorities[right_col_start..right_col_end]}
    #vote
      %a{:href => "#"}

      %input{:type => :hidden, :id=>"neighborhood_id", :name => "neighborhood_id", :value => @neighborhood_id }
      %input{:type => :image, :src => "/assets/vote_#{I18n.locale}.png", :id=>"submit_btn", :class=>"button", :name => "submit", :title=>"Smelltu hér til að kjósa", :alt => 'Smelltu hér til að kjósa'}

    :javascript
      setLocalisedTexts('#{I18n.locale}','#{t(:chooce_projects_below)}','#{t :you_dont_need_to_finish_all_the_budget}','#{t(:used_text)}','#{t(:left_text)}');
      setTotals(#{@total});
