%form{:name => 'vote'}
  #content
    #content-title
      %h1.content-title
        = @reykjavik_budget_ballot.get_neighborhood_name(@neighborhood_id.to_i)
      %span.content-select
        %a{:href => "/votes/select_area"}
          = raw "#{t(:choose_another_neighbourhood)}"
    #leftcol
      %h3
        = t :new_construction_projects
      %span.content-select.alignright
        = "#{number_with_precision(@construction_total, :precision => 1)} #{t :millions}"
      #votebox_construction
        #votes_construction
        #votes_construction_totals
          %span#construction_curtotal
            =  " - - "
          %span#construction_total_text.redright
            = t :chooce_projects_below
      %span.header-txt
        = t :name_of_project
      %span.header-price
        = t :price
        %span.header-price-sml
          = t :in_millions
      .list
        %ul#options_construction
          = render :partial => "priorities", :locals=>{ :priorities => @reykjavik_budget_ballot.construction_priorities(@neighborhood_id), :selected=>"construction"}
    #rightcol
      %h3
        = t :maintainance_projects
      %span.content-select.alignright
        = "#{number_with_precision(@maintenance_total, :precision => 1)} #{t :millions}"
      #votebox_maintenance
        #votes_maintenance
        #votes_maintenance_totals
          %span#maintenance_curtotal
            = " - - "
          %span#maintenance_total_text.redright
            = t :chooce_projects_below
      %span.header-txt
        = t :name_of_project
      %span.header-price
        = t :price
        %span.header-price-sml
          = t :in_millions
      .list
        %ul#options_maintenance
          = render :partial => "priorities", :locals=>{ :priorities => @reykjavik_budget_ballot.maintenance_priorities(@neighborhood_id), :selected=>"maintenance"}
    #vote
      %a{:href => "#"}

      %input{:type => :hidden, :id=>"neighborhood_id", :name => "neighborhood_id", :value => @neighborhood_id }
      %input{:type => :image, :src => "/assets/vote_#{I18n.locale}.png", :id=>"submit_btn", :class=>"button", :name => "submit", :title=>"Smelltu hér til að kjósa", :alt => 'Smelltu hér til að kjósa'}

      #blurbtext_wide
        %p
          %b
            = t :get_ballot_footer_1
        %p
          %b
            = t :get_ballot_footer_2
        %p
          %b
            = t :get_ballot_footer_3
    :javascript
      setLocalisedTexts('#{I18n.locale}','#{t(:chooce_projects_below)}','#{t :you_dont_need_to_finish_all_the_budget}','#{t(:used_text)}','#{t(:left_text)}');
      setTotals(#{@construction_total},#{@maintenance_total});
