- def id()
  #code here
!!!
%html
  %head
    %title Betri hverfi - kosning verkefna í hverfum Reykjavíkur
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "EN", "http-equiv" => "Content-Language"}/
    %meta{:content => "FOLLOW,INDEX", :name => "robots"}/
  %body
  %form{:name => 'vote', :action => ""}
    #wrapper
      #header
        #corner
          %a{:href => "#", :title =>"Should open http://ibuar.is in a overlaid popup"}
            %img{:alt => "", :border => "0", :src => "/assets/logo-ibuar.png"}/
          %br/
          %span.corner-txt fyrir
          %br/
          %a{:href => "#", :title => "Should open http://betrireykjavik.is in a overlaid popup"}
            %img{:alt => "", :border => "0", :src => "/assets/logo-br.png"}/
        #blurbtext
          %p
            Kjóstu um verkefni í
            = succeed "." do
              %b einu hverfi að eigin vali
            Þú getur kosið um bæði nýframkvæmdir og viðhaldsverkefni í sama hverfinu.
        #logo
          %img{:alt => "", :border => "0", :src => "/assets/logo.png"}/
        #submenu
          %ul
            %li
              %a{:href => "#"} Hjálp
            %li
              %a{:href => "#"} Reglur
            %li
              %a{:href => "/votes/logout" } Útskrá
      #content
        #content-title
          %h2.content-title
            = "#{@neighborhood_id} - #{@reykjavik_budget_ballot.get_neighborhood_name(@neighborhood_id.to_i)}"
          %span.content-select
            %a{:href => "/votes/select_area"} < Velja annað hverfi
        #leftcol
          %h3 Nýframkvæmdir
          %span.content-select.alignright
            = "#{number_with_precision(@construction_total, :precision => 1)} milljónir"
          #votebox_construction
            #votes_construction
            #votes_construction_totals
              %span#construction_curtotal milljónir valdar
          %span.header-txt Nafn hugmyndar
          %span.header-price
            Verð
            %span.header-price-sml í milljónum
          .list
            %ul#options_construction
              = render :partial => "priorities", :locals=>{ :priorities => @reykjavik_budget_ballot.construction_priorities, :selected=>"construction"}
        #rightcol
          %h3 Viðhaldsverkefni
          %span.content-select.alignright
            = "#{number_with_precision(@maintenance_total, :precision => 1)} milljónir"
          #votebox_maintenance
            #votes_maintenance
            #votes_maintenance_totals
              %span#maintenance_curtotal milljónir valdar
          %span.header-txt Nafn hugmyndar
          %span.header-price
            Verð
            %span.header-price-sml í milljónum
          .list
            %ul#options_maintenance
              = render :partial => "priorities", :locals=>{ :priorities => @reykjavik_budget_ballot.maintenance_priorities, :selected=>"maintenance"}
        #vote
          %a{:href => "#"}

          %input{:type => :hidden, :id=>"neighborhood_id", :name => "neighborhood_id", :value => @neighborhood_id }
          %input{:type => :image, :src => "/assets/vote.png", :id=>"submit_btn", :class=>"button", :name => "submit", :value => "Smelltu hér til að kjósa"}
        = render :partial => "footer"
        :javascript
          setTotals(#{@construction_total},#{@maintenance_total});
      / /content
    / /wrapper

