#flash.popup
  - if flash[:notice]
    %h2.flash
      = flash[:notice]
    %br

#content_wrapper
  #timeline
    = link_to image_tag("/assets/4_ferlistika_atkvaedi_mottekid.png", :class => "timeline", :alt=>"Tímalína")

  #content_vote_delivered
    #thank_you_message
      %div#received
        %h2
          = raw t :thank_you_1
        %h3
          = raw t :thank_you_2
      %h4
        = raw t :thank_you_3
      %h4.vote_again
        = raw t :vote_again

  #betri_reykjavik
    = raw t :betri_reykjavik
